<h1>Links#new</h1>
<p>Find me in app/views/links/new.html.erb</p>

<%= form_for(@link) do |f| %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :url_name %>
    <%= f.text_field :url_name %>
  </p>
    <%= f.hidden_field :creator_id, :value => "#{current_user.id}" %>

  <%= f.fields_for :comments do |comments_form| %>

  <p><%= comments_form.label :body %></p>
  <p><%= comments_form.text_area :body %></p>

  <% end %>

  <%= f.submit "Create Link" %>

<% end %>
