<!DOCTYPE html>
<html>
<head>
  <title>NewsClone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= flash[:errors] %>
<%= yield %>

<p>Navigation:</p>
<%= link_to "Home", links_url %>
</body>
</html>
